<div id="body">
  <h1 style="text-align:center;">Admin Check-In</h1>

  <div id="form-wrapper">
    <form id="login-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username">
      </mat-form-field>
      <br>
    
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Password"></textarea>
      </mat-form-field>
      <br>
     
      <button mat-raised-button outline (click) = "dash()" >Login</button> <p (click) = "pass()">Forgot password?</p>
    </form>
  </div>
</div>