    
    
 
   
          <mat-toolbar><div class="example-sidenav-content">
              <button type="button" mat-button (click)="drawer.toggle()">
                Dashboard
              </button>
            </div>  Visitor Check-In</mat-toolbar> 
           <mat-drawer-container class="example-container" autosize>
              <mat-drawer #drawer class="example-sidenav" mode="side">
              
                <p *ngIf="showFiller" (click) = "campus()">Add</p>
                <p *ngIf="showFiller">Remove</p>
                <p *ngIf="showFiller">Edit</p>
                <button (click)="showFiller = !showFiller" mat-raised-button>
                 Admin
                </button>
              </mat-drawer>

              <mat-drawer #drawer class="example-sidenav" mode="side">
              
                  <p *ngIf="showFiller" (click) = "campus()">Add</p>
                  <p *ngIf="showFiller">Remove</p>
                  <p *ngIf="showFiller">Edit</p>
                  <button (click)="showFiller = !showFiller" mat-raised-button>
                   Campuses
                  </button>
                </mat-drawer>

                <mat-drawer #drawer class="example-sidenav" mode="side">
              
                    <p *ngIf="showFiller" (click) = "campus()">Add</p>
                    <p *ngIf="showFiller">Remove</p>
                    <p *ngIf="showFiller">Edit</p>
                    <button (click)="showFiller = !showFiller" mat-raised-button>
                   Organisation
                    </button>
                  </mat-drawer>
            
              
            
            </mat-drawer-container>
